body{
    color:rgb(197, 197, 197);
    background-color: rgb(32, 32, 32); 
    font-family:'Trebuchet MS', Arial, sans-serif;
   
}

.navBar{
    padding:5px;
    border-bottom:solid;
    border-width:1px;
    border-color:rgb(73, 73, 73);
}

#mainTitle{
    padding:none;
    margin:none;
    text-align: center;
    font-size:35px;
    font-weight: 200;
}