body{
    color:rgb(231, 231, 231);
    background-color: rgb(32, 32, 32);
    font-family:"Lucida Console",monospace;
}

.navBar{
    padding:10px;
    border-color:bisque;
    border-radius:15px;
    border-style:solid;
}

#mainTitle{
    margin:auto;
    padding:auto;
    text-align: center;
}